@model IEnumerable<LCARS.Models.Objective>

@{
    ViewData["Title"] = "Index";
}
<div class="container p-5">
    <h1 class="text-info">Objectives <a href="@Url.Action("Create")"><small><sup><span class="fa fa-plus"></span></sup></small></a></h1>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Title)</th>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td><a asp-action="Edit" asp-route-id="@item.ObjectiveId">Edit</a> | <a asp-action="Delete" asp-route-id="@item.ObjectiveId">Delete</a></td>
            </tr>
        }
    </table>
</div>